.welcome-block {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    @media (max-width: 1025px) {
    }

    &__img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        min-width: 1920px;
        width: 100vw;
        height: 100%;
        // object-fit: cover;
        background-size: cover;
        background-image: url('./background-main.jpg');
        background-repeat: no-repeat;

        @media(max-width: 1024px) {
            background-image: url(../img/11.png);
            min-width: 1024px; 
        }

        @media(max-width: 560px) {
            left: 40%;
            top: -10%;    
        }
    }
}
