.title {
    display: flex;

    &__cyberlogo {
        position: relative;
    }

    &__2077logo {
        position: absolute;
        top: 55.38px;
        left: 178.99px;

        @media(max-width: 321px) {
            position: absolute;
            top: 37px;
            left: 119px;
            width: 60px;
            height: 6px;
        }
    }

    @media(max-width: 321px) {
        position: absolute;
        width: 200px;
        height: 50px;
        top: 0px;
        left: 60px;
    }
}

