@font-face {
    font-family: Archangelsk;
    src: url(../../fonts/Archangelsk.ttf);
}

.thirdBlock {
    width: 100vw;
    height: 777px;
    background-color: black;
    display: block;
    box-sizing: border-box;
    margin-top: -4px;
    color: white;

    h1 {
        margin: 0;
    }

    &__header {
        display: flex;
        padding: 15px 0 0 348px;
        align-items: flex-end;

        &__title {
            padding: 0 0 10px 32px;
            font-family: Archangelsk;
            font-size: 62px;
            line-height: 63px;
            font-weight: 400;
        }
    }

    &__text {
        padding: 25px 0 0 348px;
        font-family: Roboto;
        font-size: 18px;
        line-height: 34px;
        font-weight: 400;
        width: 952px;

        span {
            color: #52BEDC;
            font-weight: 700;
        }
    }

    &__content {
        display: flex;
        padding: 25px 0 0 348px;

        &__form {
            display: flex;
            flex-direction: column;

            &__name {
                width: 460px;
                height: 35px;
                border: none;
                border-bottom: 1px solid #777777;
                outline: none;
                background-color: black;
                color: white;
                font-family: Roboto;
                font-size: 18px;
                line-height: 21px;
                font-weight: 300;
                margin-bottom: 35px;
            }

            &__email {
                width: 460px;
                height: 35px;
                border: none;
                border-bottom: 1px solid #777777;
                outline: none;
                background-color: black;
                color: white;
                margin-bottom: 35px;
                font-family: Roboto;
                font-size: 18px;
                line-height: 21px;
                font-weight: 300;
            }

            &__screenshot {
                opacity: 0;
                display: none;
            }

            &__label {
                list-style-type: none;
                width: 460px;
                height: 120px;
                border: 2px dashed #777777;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 35px;

                &__text {
                    font-size: 18px;
                    font-weight: 300;
                    line-height: 21px;
                    font-family: Roboto;
                    text-decoration-line: underline;
                    margin: 0 0 7px 0;
                }

                &__typefile {
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 300;
                    font-family: Roboto;
                }
            }

            &__submit {
                width: 192px;
                height: 59px;
                background-color: #F8F200;
                border: none;
                font-family: Roboto;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 15px;
            }

            &__checkbox__label {
                display: flex;
                align-items: center;

                &__checkbox {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    overflow: hidden;
                    clip: rect(0 0 0 0);
                }

                &__checkbox:checked + .thirdBlock__content__form__checkbox__label__style::before{
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-image: url('../../img/checkbox.svg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                }

                &__style {
                    position: absolute;
                    border: 1px solid #777777;
                    width: 14px;
                    height: 14px;
                    margin-right: -24px;
                }

                &__text {
                    padding-left: 24px;
                    font-weight: 300;
                    font-family: Roboto;
                    font-size: 12px;
                    line-height: 14px;
                }
            }
            
        }
    }
}