@font-face {
    font-family: Archangelsk;
    src: url(../fonts/Archangelsk.ttf);
}

.whitebottom {
    background-color: #fff;
    position: absolute;
    right: 0;
    content: '';
    bottom: 0;
    width: 40px;
    height: 40px;
    z-index: 4;
    display: none;

    @media(max-width: 560px) {
        display: block;
    }
}


.yellowblock {
    position: absolute;
    background-color: yellow;
    width: 624px;
    padding: 70px;
    right: 17%;
    bottom: 0;
    clip-path: polygon(10% 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0 15%);
    display: grid;
    box-sizing: border-box;
    z-index: 5;

    @media(max-width: 1024px) {
        right: 5%;
    }

    @media(max-width: 560px) {
        width: 100%;
        padding: 30px 12px;
        left: 0;
    }

    &__text {
        font-family: Archangelsk;
        display: flex;
        font-size: 62px;
        line-height: 63.3px;
        font-weight: 400;

        @media(max-width: 560px) {
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            line-height: 30px;
        }
    }


    &__button {
        font-family: 'Roboto';
        width: 272px;
        height: 78px;
        background-color: black;
        color: yellow;
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 25px;

        @media(max-width: 560px) {
            text-align: center;
            width: 244px;
            height: 60px;
            top: 19px;
            left: 38px;
            font-size: 20px;
            font-weight: 700;
            line-height: 40px;
        }
    }
}
